<div class="page">
     <!--background -->
     <div class="bg">
        <ul class="bg-circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="info-tab-area">
        <div class="container">
            <div class="info-tab-section">
                <!--header-->
                <div class="header d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="profile d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <a href="index.html"><img src="assets/img/yo.jpg" alt=""></a>
                                        <a class="desc" href="index.html">
                                            <h3 class="text-white mb-0">{{infoPaginaService.info.nombre}}</h3>
                                            <h6 class="text-white mb-0">{{infoPaginaService.info.titulo}}</h6>
                                        </a>
                                    </div>

                                    <!--social-links-->
                                    <div class="social-links ml-auto">
                                        <p class="text-white mb-5"></p>
                                        <ul class="list-inline">
                                            <li><a [href]="infoPaginaService.info.facebook" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a [href]="infoPaginaService.info.twitter" target="_blank" class="text-white"><i class="fab fa-twitter"></i></a></li>
                                           <!-- <li><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#" class="text-white"><i class="fab fa-dribbble"></i></a></li>
                                            <li><a href="#" class="text-white"><i class="fab fa-behance"></i></a>
                                            </li>-->
                                        </ul>
                                    </div>

                                    <!--btn-toggle-->
                                    <div class="btn-toggler ml-auto" id="btnToggle">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--info-tab-->
                <div class="info-tab">
                    <!--navigation-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" >
                            <a class="nav-link " id="home-tab" data-toggle="tab" routerLink="home" routerLinkActive="active" role="tab" aria-controls="home" aria-selected="true">
                                <span> <i class="fas fa-home"></i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" id="about-tab" data-toggle="tab" routerLink="about" routerLinkActive="active" role="tab" aria-controls="about" aria-selected="false">
                                <span><i class="fas fa-user-tie"></i></span>
                                <span> About</span>
                            </a>
                        </li>

                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" id="resume-tab" data-toggle="tab" routerLink="resume" routerLinkActive="active" role="tab" aria-controls="resume" aria-selected="false">
                                <span><i class="fas fa-graduation-cap"></i></span>
                                <span>Resume</span>
                            </a>
                        </li>
                       
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" id="services-tab" data-toggle="tab" routerLink="services" routerLinkActive="active" role="tab" aria-controls="services" aria-selected="false">
                                <span><i class="fas fa-cogs"></i></span>
                                <span> services</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" id="portfolio-tab" data-toggle="tab" routerLink="portfolio" routerLinkActive="active" role="tab" aria-controls="portfolio" aria-selected="false">
                                <span><i class="fas fa-briefcase"></i></span>
                                <span> Portfolio</span>
                            </a>
                        </li>
                     
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="contact" routerLinkActive="active" role="tab" aria-controls="contact" aria-selected="false">
                                <span><i class="fas fa-envelope"></i></span>
                                <span> Contact</span>
                            </a>
                        </li>
                    </ul>

                    <!--tab-content-->
                    <div class="tab-content" id="myTabContent">
                        <!--Home-->
                        
                        <router-outlet></router-outlet>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--loading 
<div class="loading">
    <div class="circle"></div>
</div>
-->