  <!--Home-->
  <div class="tab-pane fade show active"  id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="home-area d-flex align-items-center animated fadeIn" >
        <div class="home section" >
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero">
                        <img src="assets/img/hero-1.png" alt="" >
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="content">
                        <div class="section-title">
                            <h5>Who I Am</h5>
                        </div>
                        <p class="max-width-400 text-dark mb-15">
                            Hello, I’m Elias Torres, Developer Web based on Sv.
                             I have rich experience in Development  & building and site web.
                        </p>

                        <ul class="info list-inline mb-15">
                            <li class="text-dark"><span class="font-w-700">Phone :</span> +503 7792-6261.</li>
                            <li class="text-dark"><span class="font-w-700">Email :</span><a href="mailto:soyeliastorres@gmail.com" class="text-dark">soyeliastorres@gmail.com.</a></li>
                            <li class="text-dark"><span class="font-w-700">Address :</span> San Salvador, El Salvador</li>
                            <li class="text-dark"><span class="font-w-700">Freelancer :</span> Available.</li>
                        </ul>

                        <a routerLink="/about" class="btn-custom" >
                            <span><i class="fas fa-user"></i></span>
                            <span>more about me</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
