<!--Resume-->
<div class="tab-pane fade show active" id="resume" role="tabpanel" aria-labelledby="resume-tab">
    <div class="resume section animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Resume</h5>
                </div>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-lg-6">
                <div class="timeline">
                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Programmer La Casa Del Repuesto</h6>
                            <small class="base-color">2020 - Present</small><br>
                            <small class="color-success">Location: El Salvador</small>
                            <p class="text-dark mt-10 mb-0">
                                Development of systems for the operation of the company, android application for tracking order deliveries.
                            </p>
                        </div>
                    </div>

                    <!--item 2-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Frontend TBL TECHNERD</h6>
                            <small class="base-color">2020 - 2020</small><br>
                            <small class="color-success">Location: USA</small>
                            <p class="text-dark pt-10 mb-0">
                                Development of systems to manage orders for a restaurant in NY.
                            </p>
                        </div>
                    </div>

                    <!--item 3-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Analist and Programmer Grupo Tomza</h6>
                            <small class="base-color">2016 - 2020</small><br>
                            <small class="color-success">Location: El Salvador</small>
                            <p class="text-dark pt-10 mb-0">
                                Development of various systems for the company,
                                payroll system
                                subsidy control system
                                administration system
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline">
                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Academic Degree- Computer and Systems Engineer</h6>
                            <small class="base-color">2014 - 2019</small><br>
                            <small class="color-success">Location: El Salvador</small>
                            <p class="text-dark pt-10 mb-0">University Francisco Gavidia.</p>
                        </div>
                    </div>

                    <!--item 2-->                    
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Specialization Course</h6>
                            <small class="base-color">2019 - 2019 </small>
                            <p class="text-dark pt-10 mb-0">
                                Administration and development of databases and business intelligence.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--skills-->
        <div class="row ">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Skills</h5>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-lg-6">
                <div class="skills">

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Php</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 92%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            90%
                            </div>
                        </div>                 
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Kotlin</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            50%
                            </div>
                        </div>                 
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            70%
                            </div>
                        </div> 
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Laravel</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            70%
                            </div>
                        </div>                        
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Angular</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            80%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">React</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            50%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">VueJs</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            50%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            90%
                            </div>
                        </div>                         
                    </div>

                </div>
            </div>    
            <div class="col-lg-6">
                <div class="skills">
                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">SQLServer</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            60%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Postgress</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            80%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">MongoDB</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            70%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">GIT</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            90%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">WordPress</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            80%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">HTML</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            90%
                            </div>
                        </div>                         
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">CSS</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            50%
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row mb-30">
            <div class="col-12">
                <a href="#" class="btn-custom">
                    <span>
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Downland My CV</span>
                </a>
            </div>
        </div>
    </div>
</div>